#Ignore compiled binary
*.out
green-serv

#Ignore object files
*.o

#ignore apache logs
access.log
error.log

#Ignore configuration files
headers/config.h
config.sql
configure/.gs.conf
*.pid
*.port

#Ignore vim swap files
*.swp
