PORT 80
HOST "localhost"
DATABASE "green_xenon"
PASSWORD "pylons"
USERNAME "tassadar"
CAMPAIGN_ID 0L
CAMPAIGN_DESC "8CharMax"
BASE_API_URL "http://localhost:10110/api/";
THREADED_DB 1
DATABASE_LOGGING 1
BOOT_LOGGING 1
NETWORK_LOGGING 2
_MYSQL_INCLUDE_DIFFERENCE__ 0
